<!DOCTYPE html>
<html>
  <head>
    <title>Get Customer</title>
  </head>
  <body>
    <h1>Get Customer</h1>
    <ul>
      <li><a href="/">Home</a></li>
    </ul>
    <hr>
    <h2>Enter Customer Details</h2>
    <form method="POST" action="{{(get_customer) }}">
      <label for= "last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name"><br><br>
      <label for="phone_number">Phone:</label>
      <input type="text" id="phone_number" name="phone_number"><br><br>
      <input type="submit" value="Get Bookings">
    </form>
  </body>
</html>

